swagger: '2.0'
info:
  version: v2
  title: Racingpost Horses API
host: horses-api.apps.production.global.rp-cloudinfra.com
basePath: /horses
schemes:
  - http
  - https
paths:
  /ad-prompts/next-race:
    get:
      tags:
        - AdPrompts
      summary: Next Race
      description: Represents Next Race Resource.
      operationId: RPDocumentationHorsesAdPromptsNextRace
      consumes: []
      produces:
        - application/xml
        - application/json
      parameters: []
      responses:
        '200':
          description: XML representation of Next Race Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-AdPrompts-next-race-schema-json'
        '404':
          description: XML representation of Next Race Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/ads/success-boxes/{raceId}/{breakpoint}':
    get:
      tags:
        - Ads
      summary: Success Boxes
      description: Represents Ads Success Boxes Resource.
      operationId: RPDocumentationHorsesAdsSuccessBoxes
      consumes: []
      produces:
        - application/json
      parameters:
        - name: raceId
          in: path
          description: 'Numeric `id` of the Race to get Success Boxes. Has example value. **Example: **621176'
          type: integer
          required: true
        - name: breakpoint
          in: path
          description: 'Bit `mask` of devices screen orientations to show success boxes. Has example value. **Example: **31'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Ads Success Boxes Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Ads-success-boxes-schema-json'
        '400':
          description: JSON representation of Ads Success Boxes Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Ads Success Boxes Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /bet-finder:
    get:
      tags:
        - Bet Finder
      summary: ''
      description: ''
      operationId: RPDocumentationHorsesBetFinderMain
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Returns Bet Finder Full Data
          schema:
            $ref: '#/definitions/SchemaGet200-BetFinder-common-schema-json'
        '400':
          description: Returns Bet Finder Full Data
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: Returns Bet Finder Full Data
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bet-finder/diff/{version}':
    get:
      tags:
        - Bet Finder
      summary: Diff Data
      description: Represents Bet Finder Diff Data Resource
      operationId: RPDocumentationHorsesBetFinderDiffData
      consumes: []
      produces:
        - application/json
      parameters:
        - name: version
          in: path
          description: 'String `version` of data on client. Version is used to get updates. Has example value. **Example: **82658'
          type: string
          required: true
      responses:
        '200':
          description: Returns Bet Finder Diff Data
          schema:
            $ref: '#/definitions/SchemaGet200-BetFinder-common-schema-json'
        '400':
          description: Returns Bet Finder Diff Data
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: Returns Bet Finder Diff Data
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /bet-finder/today:
    get:
      tags:
        - Bet Finder
      summary: Full Data
      description: Represents Bet Finder Full Data Resource
      operationId: RPDocumentationHorsesBetFinderToday
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Returns Bet Finder Full Data
          schema:
            $ref: '#/definitions/SchemaGet200-BetFinder-common-schema-json'
        '400':
          description: Returns Bet Finder Full Data
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: Returns Bet Finder Full Data
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bet-prompts/{raceId}':
    get:
      tags:
        - Bet Prompts
      summary: Bet Prompts
      description: Represents Bet Prompts Resource
      operationId: RPDocumentationBetPrompts
      consumes: []
      produces:
        - application/json
      parameters:
        - name: raceId
          in: path
          description: 'Numeric id of the Race Instance **Example: **661043'
          type: integer
          required: true
      responses:
        '200':
          description: Returns Bet Prompts data for a given race
          schema:
            $ref: '#/definitions/SchemaGet200-BetPrompts-bet-prompts-schema-json'
        '400':
          description: Returns Bet Prompts data for a given race
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: Returns Bet Prompts data for a given race
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bet-prompts/{raceId}/{topNumber}':
    get:
      tags:
        - Bet Prompts
      summary: Bet Prompts
      description: Represents Bet Prompts Resource
      operationId: RPDocumentationBetPromptsRaceIdTopNumber
      consumes: []
      produces:
        - application/json
      parameters:
        - name: raceId
          in: path
          description: 'Numeric id of the Race Instance **Example: **661043'
          type: integer
          required: true
        - name: topNumber
          in: path
          description: 'Numeric of the top amount of Bet Prompts **Example: **5'
          type: integer
          required: true
      responses:
        '200':
          description: Returns Bet Prompts data for a given race
          schema:
            $ref: '#/definitions/SchemaGet200-BetPrompts-bet-prompts-schema-json'
        '400':
          description: Returns Bet Prompts data for a given race
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: Returns Bet Prompts data for a given race
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/dam/{damId}/progeny-entries':
    get:
      tags:
        - Bloodstock Dam
      summary: Progeny Entries
      description: Represents Progeny Entries Resource.
      operationId: RPDocumentationHorsesBloodstockDamProgenyEntries
      consumes: []
      produces:
        - application/json
      parameters:
        - name: damId
          in: path
          description: 'Numeric `id` of the Dam. Has example value. **Example: **585723'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Progeny Entries Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Dam-progeny-entries-schema-json'
        '400':
          description: JSON representation of Progeny Entries Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Progeny Entries Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/dam/{damId}/progeny-results':
    get:
      tags:
        - Bloodstock Dam
      summary: Progeny Results
      description: Represents Progeny Results Resource.
      operationId: RPDocumentationHorsesBloodstockDamProgenyResults
      consumes: []
      produces:
        - application/json
      parameters:
        - name: damId
          in: path
          description: 'Numeric `id` of the Dam. Has example value. **Example: **585723'
          type: integer
          required: true
        - name: startYear
          in: query
          description: 'Numeric `year` describes the start year **Example: **2014'
          type: integer
          required: true
        - name: endYear
          in: query
          description: 'Numeric `year` describes the end year **Example: **2016'
          type: integer
          required: true
        - name: raceType
          in: query
          description: 'String `code` of a race type **Example: **flat'
          type: string
          required: false
          enum:
            - flat
            - jumps
      responses:
        '200':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Dam-progeny-results-schema-json'
        '400':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/dam/{damId}/progeny-results-seasons':
    get:
      tags:
        - Bloodstock Dam
      summary: Progeny Results
      description: Represents Progeny Results Resource.
      operationId: RPDocumentationHorsesBloodstockDamProgenyResultsSeasons
      consumes: []
      produces:
        - application/json
      parameters:
        - name: damId
          in: path
          description: 'Numeric `id` of the Dam. Has example value. **Example: **585723'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Dam-progeny-results-seasons-schema-json'
        '400':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/dam/{damId}/progeny-results/sales-default':
    get:
      tags:
        - Bloodstock Dam
      summary: Progeny Results
      description: Represents Progeny Results Sales Default Resource.
      operationId: RPDocumentationHorsesBloodstockDamProgenyResultsSalesDefault
      consumes: []
      produces:
        - application/json
      parameters:
        - name: damId
          in: path
          description: 'Numeric `id` of the Dam. Has example value. **Example: **585723'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Dam-progeny-results-schema-json'
        '400':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/dam/{damId}/progeny-sales':
    get:
      tags:
        - Bloodstock Dam
      summary: Progeny Sales
      description: Represents Progeny Sales Resource.
      operationId: RPDocumentationBloodstockDamProgenySales
      consumes: []
      produces:
        - application/json
      parameters:
        - name: damId
          in: path
          description: 'Numeric `id` of the Dam. Has example value. **Example: **585723'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Progeny Sales Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Dam-progeny-sales-schema-json'
        '400':
          description: JSON representation of Progeny Sales Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Progeny Sales Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/dam/{damId}/progeny-sales/{startDate}/{endDate}':
    get:
      tags:
        - Bloodstock Dam
      summary: Progeny Sales
      description: Represents Progeny Sales Resource.
      operationId: RPDocumentationBloodstockDamProgenySalesDate
      consumes: []
      produces:
        - application/json
      parameters:
        - name: damId
          in: path
          description: 'Numeric `id` of the Dam. Has example value. **Example: **585723'
          type: integer
          required: true
        - name: startDate
          in: path
          description: 'String representation start of period. Format is YY-MM-DD. **Example: **2010-01-01'
          type: string
          required: true
        - name: endDate
          in: path
          description: 'String representation end of period. Format is YY-MM-DD. **Example: **2018-02-25'
          type: string
          required: true
      responses:
        '200':
          description: JSON representation of Progeny Sales Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Dam-progeny-sales-schema-json'
        '400':
          description: JSON representation of Progeny Sales Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Progeny Sales Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /bloodstock/dam/dam-list:
    get:
      tags:
        - Bloodstock Dam
      summary: Dam List
      description: Represents GB/IRE/FR/USA/AUS/GER Dam List Resource.
      operationId: RPDocumentationHorsesBloodstockDamDamList
      consumes: []
      produces:
        - application/json
      parameters:
        - name: age
          in: query
          description: 'List with requested ages with delimiter ,. Ages should be in interval 5-30. **Example: **5,7,8'
          type: string
          required: false
        - name: country
          in: query
          description: 'String representation for country. Available countries are GB, IRE, FR and USA **Example: **GB'
          type: string
          required: false
        - name: name
          in: query
          description: 'String representation for name. Minimum length is 4 **Example: **horse'
          type: string
          required: false
        - name: deceased
          in: query
          description: 'If true returns only deceased horses, otherwise the healthy ones. **Example: **true'
          type: boolean
          required: false
      responses:
        '200':
          description: JSON representation of Dam List for GB/IRE/FR/USA/AUS/GER mares Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Dam-dam-list-schema-json'
        '400':
          description: JSON representation of Dam List for GB/IRE/FR/USA/AUS/GER mares Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Dam List for GB/IRE/FR/USA/AUS/GER mares Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/sales/catalogue/full/{year}':
    get:
      tags:
        - Bloodstock Sales
      summary: Catalogue
      description: Represents Catalogue Resource.
      operationId: RPDocumentationHorsesBloodstockSalesCatalogue
      consumes: []
      produces:
        - application/json
      parameters:
        - name: year
          in: path
          description: 'Year **Example: **2016'
          type: integer
          required: true
        - name: limitToDate
          in: query
          description: 'Boolean parameter with default value of ''0''. So that when it is set to ''1'' response will return data for full year or before current date **Example: **1'
          type: string
          required: false
          enum:
            - '0'
            - '1'
            - 'Y'
            - 'N'
            - 'True'
            - 'False'
      responses:
        '200':
          description: JSON representation of Catalogue
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-catalogue-results-schema-json'
        '400':
          description: JSON representation of Catalogue
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Catalogue
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/sales/catalogue/{venueId}/{startDate}/{endDate}/previously-sold':
    get:
      tags:
        - Bloodstock Sales
      summary: Previously Sold
      description: Represents Previously Sold Resource.
      operationId: RPDocumentationHorsesBloodstockSalesCataloguePreviouslySold
      consumes: []
      produces:
        - application/json
      parameters:
        - name: venueId
          in: path
          description: 'venue id **Example: **32'
          type: integer
          required: true
        - name: startDate
          in: path
          description: 'String representation start of period. Format is yyyy-mm-dd **Example: **2016-05-23'
          type: string
          required: true
        - name: endDate
          in: path
          description: 'String representation end of period. Format is yyyy-mm-dd **Example: **2016-07-23'
          type: string
          required: true
      responses:
        '200':
          description: JSON representation of Previously Sold
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-catalogue-previously-sold-schema-json'
        '400':
          description: JSON representation of Previously Sold
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Previously Sold
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/sales/catalogue/{venueId}/{startDate}/{endDate}/sires':
    get:
      tags:
        - Bloodstock Sales
      summary: Catalogue Sires
      description: Represents Catalogue Sires Resource.
      operationId: RPDocumentationHorsesBloodstockSalesCatalogueSires
      consumes: []
      produces:
        - application/json
      parameters:
        - name: venueId
          in: path
          description: 'venue id **Example: **36'
          type: integer
          required: true
        - name: startDate
          in: path
          description: 'String representation start of period. Format is yyyy-mm-dd **Example: **2015-06-18'
          type: string
          required: true
        - name: endDate
          in: path
          description: 'String representation end of period. Format is yyyy-mm-dd **Example: **2015-06-18'
          type: string
          required: true
      responses:
        '200':
          description: JSON representation of Catalogue Sires.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-catalogue-sires-schema-json'
        '400':
          description: JSON representation of Catalogue Sires.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Catalogue Sires.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/sales/catalogue/{venueId}/{startDate}/{endDate}/vendors':
    get:
      tags:
        - Bloodstock Sales
      summary: Catalogue Vendors
      description: Represents Sales Catalogue Vendors.
      operationId: RPDocumentationHorsesBloodstockSalesCatalogueVendors
      consumes: []
      produces:
        - application/json
      parameters:
        - name: venueId
          in: path
          description: 'Venue Id **Example: **36'
          type: integer
          required: true
        - name: startDate
          in: path
          description: 'Start `date` of period **Example: **2015-01-01'
          type: string
          required: true
        - name: endDate
          in: path
          description: 'End `date` of period **Example: **2015-01-31'
          type: string
          required: true
      responses:
        '200':
          description: JSON representation of Sales Catalogue Vendors
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-catalogue-vendors-schema-json'
        '400':
          description: JSON representation of Sales Catalogue Vendors
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Sales Catalogue Vendors
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /bloodstock/sales/company-names:
    get:
      tags:
        - Bloodstock Sales
      summary: Company Names
      description: Represents Sales Company Names Resource.
      operationId: RPDocumentationHorsesBloodstockSalesCompanyNames
      consumes: []
      produces:
        - application/json
      parameters:
        - name: dateFrom
          in: query
          description: 'String representation start of period. Format is yyyy-mm-dd **Example: **2015-05-19'
          type: string
          required: true
        - name: dateTo
          in: query
          description: 'String representation end of period. Format is yyyy-mm-dd **Example: **2015-06-18'
          type: string
          required: true
        - name: lotNo
          in: query
          description: 'Lot Number **Example: **1'
          type: integer
          required: false
        - name: sale
          in: query
          description: 'Sale name **Example: **mixed'
          type: string
          required: false
          minLength: 50
        - name: saleCompany
          in: query
          description: 'Sale company **Example: **25'
          type: integer
          required: false
        - name: vendor
          in: query
          description: 'Vendor name **Example: **sales'
          type: string
          required: false
          minLength: 50
        - name: buyer
          in: query
          description: 'Buyer name **Example: **Racing'
          type: string
          required: false
          minLength: 50
        - name: minPrice
          in: query
          description: 'Min price **Example: **8000'
          type: integer
          required: false
        - name: maxPrice
          in: query
          description: 'Max price **Example: **10000'
          type: integer
          required: false
        - name: name
          in: query
          description: 'Horse name **Example: **wild'
          type: string
          required: false
        - name: sex
          in: query
          description: 'Horse sex **Example: **H'
          type: string
          required: false
          enum:
            - C
            - F
            - G
            - H
            - M
            - R
        - name: age
          in: query
          description: 'Horse age **Example: **2'
          type: string
          required: false
          enum:
            - '0'
            - '1'
            - '2'
            - 3%2B
        - name: sire
          in: query
          description: 'Sire name **Example: **wild'
          type: string
          required: false
        - name: dam
          in: query
          description: 'Dam name **Example: **bad'
          type: string
          required: false
        - name: damSire
          in: query
          description: 'Dam''s Sire name **Example: **bern'
          type: string
          required: false
        - name: resultsWithSold
          in: query
          description: 'Flag representation results with sold. **Example: **1'
          type: string
          required: false
          enum:
            - '1'
            - '0'
        - name: regId
          in: query
          description: 'Numeric id of the Member **Example: **1'
          type: integer
          required: false
        - name: venueId
          in: query
          description: 'Numeric id of the Venue **Example: **25'
          type: integer
          required: false
      responses:
        '200':
          description: JSON representation of Company Names
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-company-names-schema-json'
        '400':
          description: JSON representation of Company Names
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Company Names
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /bloodstock/sales/upcoming-names:
    get:
      tags:
        - Bloodstock Sales
      summary: Upcoming Names
      description: Represents Upcoming Names Resource.
      operationId: RPDocumentationHorsesBloodstockSalesUpcomingNames
      consumes: []
      produces:
        - application/json
      parameters:
        - name: dateFrom
          in: query
          description: 'String representation start of period. Format is yyyy-mm-dd **Example: **2015-05-19'
          type: string
          required: true
        - name: dateTo
          in: query
          description: 'String representation end of period. Format is yyyy-mm-dd **Example: **2015-06-18'
          type: string
          required: true
        - name: sales
          in: query
          description: 'Array of sale details. Item contains string in format yyyymmmdd_venueUid **Example: **20160614_32'
          type: string
          required: false
        - name: salesAll
          in: query
          description: 'Flag representation all of sale details. **Example: **True'
          type: string
          required: false
          enum:
            - '0'
            - '1'
            - 'Y'
            - 'N'
            - 'True'
            - 'False'
        - name: lotNo
          in: query
          description: 'Lot Number **Example: **1'
          type: integer
          required: false
        - name: name
          in: query
          description: 'Horse name **Example: **wild'
          type: string
          required: false
        - name: sex
          in: query
          description: 'Horse sex **Example: **H'
          type: string
          required: false
          enum:
            - C
            - F
            - G
            - H
            - M
            - R
        - name: age
          in: query
          description: 'Horse age **Example: **2'
          type: string
          required: false
          enum:
            - '0'
            - '1'
            - '2'
            - 3%2B
        - name: vendor
          in: query
          description: 'Vendor name **Example: **sales'
          type: string
          required: false
        - name: sire
          in: query
          description: 'Sire name **Example: **wild'
          type: string
          required: false
        - name: dam
          in: query
          description: 'Dam name **Example: **bad'
          type: string
          required: false
        - name: damSire
          in: query
          description: 'Dam''s Sire name **Example: **bern'
          type: string
          required: false
        - name: withEntries
          in: query
          description: 'Flag representation with entries. **Example: **1'
          type: string
          required: false
          enum:
            - '0'
            - '1'
            - 'Y'
            - 'N'
            - 'True'
            - 'False'
        - name: regId
          in: query
          description: 'Numeric id of the Member **Example: **1'
          type: integer
          required: false
        - name: venueId
          in: query
          description: 'Numeric id of the Venue **Example: **25'
          type: integer
          required: false
      responses:
        '200':
          description: JSON representation of Upcoming Names.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-upcoming-names-schema-json'
        '400':
          description: JSON representation of Upcoming Names.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Upcoming Names.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /bloodstock/sales/upcoming-sales:
    get:
      tags:
        - Bloodstock Sales
      summary: Upcoming Sales
      description: Represents Upcoming Sales Resource.
      operationId: RPDocumentationHorsesBloodstockSalesUpcomingSales
      consumes: []
      produces:
        - application/json
      parameters:
        - name: dateFrom
          in: query
          description: 'String representation start of period. Format is yyyy-mm-dd **Example: **2015-05-19'
          type: string
          required: true
        - name: dateTo
          in: query
          description: 'String representation end of period. Format is yyyy-mm-dd **Example: **2015-06-18'
          type: string
          required: true
        - name: sales
          in: query
          description: 'Array of sale details. Item contains string in format yyyymmmdd_venueUid **Example: **20160614_32'
          type: string
          required: false
        - name: salesAll
          in: query
          description: 'Flag representation all of sale details. **Example: **Y'
          type: string
          required: false
          enum:
            - '0'
            - '1'
            - 'Y'
            - 'N'
            - 'True'
            - 'False'
        - name: lotNo
          in: query
          description: 'Lot Number **Example: **1'
          type: integer
          required: false
        - name: lotLetter
          in: query
          description: 'Lot Letter. If we are providing lotLetter, lotNo parameter will be required **Example: **a'
          type: string
          required: false
          minLength: 1
        - name: name
          in: query
          description: 'Horse name **Example: **wild'
          type: string
          required: false
        - name: sex
          in: query
          description: 'Horse sex **Example: **H'
          type: string
          required: false
          enum:
            - C
            - F
            - G
            - H
            - M
            - R
        - name: age
          in: query
          description: 'Horse age **Example: **2'
          type: string
          required: false
          enum:
            - '0'
            - '1'
            - '2'
            - 3%2B
        - name: vendor
          in: query
          description: 'Vendor name **Example: **sales'
          type: string
          required: false
        - name: sire
          in: query
          description: 'Sire name **Example: **wild'
          type: string
          required: false
        - name: dam
          in: query
          description: 'Dam name **Example: **bad'
          type: string
          required: false
        - name: damSire
          in: query
          description: 'Dam''s Sire name **Example: **bern'
          type: string
          required: false
        - name: withEntries
          in: query
          description: 'Flag representation with entries. **Example: **Y'
          type: string
          required: false
          enum:
            - '0'
            - '1'
            - 'Y'
            - 'N'
            - 'True'
            - 'False'
        - name: regId
          in: query
          description: 'Numeric id of the Member. If we are providing regId, dateFrom and dateTo parameters are not required **Example: **1'
          type: integer
          required: false
        - name: venueId
          in: query
          description: 'Numeric id of the Venue **Example: **25'
          type: integer
          required: false
      responses:
        '200':
          description: JSON representation of Upcoming Sales.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-upcoming-sales-schema-json'
        '400':
          description: JSON representation of Upcoming Sales.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Upcoming Sales.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /bloodstock/sales/sales-results:
    get:
      tags:
        - Bloodstock Sales
      summary: Sales Results
      description: Represents Sales Results Resource.
      operationId: RPDocumentationHorsesBloodstockSalesSalesResults
      consumes: []
      produces:
        - application/json
      parameters:
        - name: dateFrom
          in: query
          description: 'String representation start of period. Format is yyyy-mm-dd **Example: **2015-05-19'
          type: string
          required: true
        - name: dateTo
          in: query
          description: 'String representation end of period. Format is yyyy-mm-dd **Example: **2015-06-18'
          type: string
          required: true
        - name: lotNo
          in: query
          description: 'Lot Number **Example: **1'
          type: integer
          required: false
        - name: lotLetter
          in: query
          description: 'Lot Letter. If we are providing lotLetter, lotNo parameter will be required **Example: **a'
          type: string
          required: false
          minLength: 1
        - name: sale
          in: query
          description: 'Sale name **Example: **mixed'
          type: string
          required: false
        - name: saleCompany
          in: query
          description: 'Sale company **Example: **25'
          type: integer
          required: false
        - name: vendor
          in: query
          description: 'Vendor name **Example: **sales'
          type: string
          required: false
        - name: buyer
          in: query
          description: 'Buyer name **Example: **Racing'
          type: string
          required: false
        - name: minPrice
          in: query
          description: 'Min price **Example: **8000'
          type: integer
          required: false
        - name: maxPrice
          in: query
          description: 'Max price **Example: **10000'
          type: integer
          required: false
        - name: name
          in: query
          description: 'Horse name **Example: **wild'
          type: string
          required: false
        - name: sex
          in: query
          description: 'Horse sex **Example: **H'
          type: string
          required: false
          enum:
            - C
            - F
            - G
            - H
            - M
            - R
        - name: age
          in: query
          description: 'Horse age **Example: **2'
          type: string
          required: false
          enum:
            - '0'
            - '1'
            - '2'
            - 3%2B
        - name: sire
          in: query
          description: 'Sire name **Example: **wild'
          type: string
          required: false
        - name: dam
          in: query
          description: 'Dam name **Example: **bad'
          type: string
          required: false
        - name: damSire
          in: query
          description: 'Dam''s Sire name **Example: **bern'
          type: string
          required: false
        - name: resultsWithSold
          in: query
          description: 'Flag representation results with sold. **Example: **1'
          type: string
          required: false
          enum:
            - '0'
            - '1'
            - 'Y'
            - 'N'
            - 'True'
            - 'False'
        - name: regId
          in: query
          description: 'Numeric id of the Member. If we are providing regId, dateFrom and dateTo parameters are not required **Example: **1'
          type: integer
          required: false
        - name: venueId
          in: query
          description: 'Numeric id of the Venue **Example: **25'
          type: integer
          required: false
      responses:
        '200':
          description: JSON representation of Sales Results
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-sales-results-schema-json'
        '400':
          description: JSON representation of Sales Results
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Sales Results
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/sales/statistics/buyers/{venueId}/{startDate}/{endDate}':
    get:
      tags:
        - Bloodstock Sales
      summary: Sales Statistics for Buyers
      description: Represents Sales Statistics for Buyers.
      operationId: RPDocumentationHorsesBloodstockSalesStatisticsBuyers
      consumes: []
      produces:
        - application/json
      parameters:
        - name: venueId
          in: path
          description: 'venue id **Example: **5'
          type: integer
          required: true
        - name: startDate
          in: path
          description: 'String representation start of period. Format is YY-MM-DD **Example: **2016-07-06'
          type: string
          required: true
        - name: endDate
          in: path
          description: 'String representation end of period. Format is YY-MM-DD **Example: **2016-07-08'
          type: string
          required: true
      responses:
        '200':
          description: JSON representation of Sales Statistics for Buyers.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-statistics-buyers-schema-json'
        '400':
          description: JSON representation of Sales Statistics for Buyers.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Sales Statistics for Buyers.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/sales/statistics/sales/{venueId}/{startDate}/{endDate}':
    get:
      tags:
        - Bloodstock Sales
      summary: Sales Statistics for Sales
      description: Represents Sales Statistics for Sales.
      operationId: RPDocumentationHorsesBloodstockSalesStatisticsSales
      consumes: []
      produces:
        - application/json
      parameters:
        - name: venueId
          in: path
          description: 'venue id **Example: **5'
          type: integer
          required: true
        - name: startDate
          in: path
          description: 'String representation start of period. Format is YY-MM-DD **Example: **2016-07-06'
          type: string
          required: true
        - name: endDate
          in: path
          description: 'String representation end of period. Format is YY-MM-DD **Example: **2016-07-08'
          type: string
          required: true
      responses:
        '200':
          description: JSON representation of Sales Statistics for Sales.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-statistics-sales-schema-json'
        '400':
          description: JSON representation of Sales Statistics for Sales.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Sales Statistics for Sales.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/sales/statistics/sires/{venueId}/{startDate}/{endDate}':
    get:
      tags:
        - Bloodstock Sales
      summary: Sales Statistics for Sires
      description: Represents Sales Statistics for Sires.
      operationId: RPDocumentationHorsesBloodstockSalesStatisticsSires
      consumes: []
      produces:
        - application/json
      parameters:
        - name: venueId
          in: path
          description: 'venue id **Example: **5'
          type: integer
          required: true
        - name: startDate
          in: path
          description: 'String representation start of period. Format is YY-MM-DD **Example: **2016-07-08'
          type: string
          required: true
        - name: endDate
          in: path
          description: 'String representation end of period. Format is YY-MM-DD **Example: **2016-07-08'
          type: string
          required: true
      responses:
        '200':
          description: JSON representation of Sales Statistics for Sires.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-statistics-sires-schema-json'
        '400':
          description: JSON representation of Sales Statistics for Sires.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Sales Statistics for Sires.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/sales/statistics/vendors/{venueId}/{startDate}/{endDate}':
    get:
      tags:
        - Bloodstock Sales
      summary: Sales Statistics for Vendors
      description: Represents Sales Statistics for Vendors.
      operationId: RPDocumentationHorsesBloodstockSalesStatisticsVendors
      consumes: []
      produces:
        - application/json
      parameters:
        - name: venueId
          in: path
          description: 'venue id **Example: **5'
          type: integer
          required: true
        - name: startDate
          in: path
          description: 'String representation start of period. Format is YY-MM-DD **Example: **2016-07-06'
          type: string
          required: true
        - name: endDate
          in: path
          description: 'String representation end of period. Format is YY-MM-DD **Example: **2016-07-08'
          type: string
          required: true
      responses:
        '200':
          description: JSON representation of Sales Statistics for Vendors.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Sales-statistics-vendors-schema-json'
        '400':
          description: JSON representation of Sales Statistics for Vendors.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Sales Statistics for Vendors.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}':
    get:
      tags:
        - Bloodstock Stallion
      summary: Overall Stallion Data
      description: Represents Overall Stallion Data.
      operationId: RPDocumentationHorsesBloodstockStallionStallion
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **653884'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Overall Stallion Data.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-stallion-schema-json'
        '400':
          description: JSON representation of Overall Stallion Data.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Overall Stallion Data.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/fee-history':
    get:
      tags:
        - Bloodstock Stallion
      summary: Fee history
      description: Represents Fee history Resource.
      operationId: RPDocumentationHorsesBloodstockStallionFeeHistory
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **7983'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Fee history Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-fee-history-schema-json'
        '400':
          description: JSON representation of Fee history Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Fee history Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/nick':
    get:
      tags:
        - Bloodstock Stallion
      summary: Nick
      description: Represents Nick Statistics Resource.
      operationId: RPDocumentationHorsesBloodstockStallionNick
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **653884'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Nick Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-nick-schema-json'
        '400':
          description: JSON representation of Nick Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Nick Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/nick-descendants/{stallionAncestorId}/{order}':
    get:
      tags:
        - Bloodstock Stallion
      summary: Nick descendants
      description: Represents Nick descendants Statistics Resource.
      operationId: RPDocumentationHorsesBloodstockStallNickDescendants
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **653884'
          type: integer
          required: true
        - name: stallionAncestorId
          in: path
          description: 'Numeric `id` of the Stallion ancestor **Example: **43127'
          type: integer
          required: true
        - name: order
          in: path
          description: 'Allowed types of the ordering entries, by default if equal to ''winners''. **Example: **wins'
          type: string
          required: true
          enum:
            - a-z
            - wins
            - win-prize
            - total-prize
      responses:
        '200':
          description: JSON representation of Nick Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-nick-descendants-schema-json'
        '400':
          description: JSON representation of Nick Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Nick Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/progeny-horses/{raceType}/{seasonYearBegin}/{seasonYearEnd}/{number}':
    get:
      tags:
        - Bloodstock Stallion
      summary: Progeny Horses
      description: Represents Progeny Horses Resource.
      operationId: RPDocumentationHorsesBloodstockStallProgenyHorses
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **531769'
          type: integer
          required: true
        - name: raceType
          in: path
          description: 'String `code` of the Race Type **Example: **flat'
          type: string
          required: true
          enum:
            - flat
            - jumps
        - name: seasonYearBegin
          in: path
          description: 'Season year begin **Example: **2005'
          type: integer
          required: true
        - name: seasonYearEnd
          in: path
          description: 'Season year end **Example: **2006'
          type: integer
          required: true
        - name: number
          in: path
          description: 'Number of items **Example: **INF, 1, 2, ...'
          type: string
          required: true
        - name: age
          in: query
          description: 'Horse age **Example: **2'
          type: string
          required: false
          enum:
            - '2'
            - '3'
            - 4%2B
      responses:
        '200':
          description: JSON representation of Progeny Horses Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-progeny-horses-schema-json'
        '400':
          description: JSON representation of Progeny Horses Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Progeny Horses Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/dam-sire-progeny-horses/{raceType}/{seasonYearBegin}/{seasonYearEnd}/{number}':
    get:
      tags:
        - Bloodstock Stallion
      summary: Dam sire progeny horses
      description: Represents dam sire progeny horses resource.
      operationId: RPDocumentationHorsesBloodstockStallDamSireProgenyHorses
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **531769'
          type: integer
          required: true
        - name: raceType
          in: path
          description: 'String `code` of the Race Type **Example: **flat'
          type: string
          required: true
          enum:
            - flat
            - jumps
        - name: seasonYearBegin
          in: path
          description: 'Season year begin **Example: **2005'
          type: integer
          required: true
        - name: seasonYearEnd
          in: path
          description: 'Season year end **Example: **2006'
          type: integer
          required: true
        - name: number
          in: path
          description: 'Number of items **Example: **INF, 1, 2, ...'
          type: string
          required: true
        - name: age
          in: query
          description: 'Horse age **Example: **2'
          type: string
          required: false
          enum:
            - '2'
            - '3'
            - 4%2B
      responses:
        '200':
          description: JSON representation of dam sire progeny horses resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-dam-sire-progeny-horses-schema-json'
        '400':
          description: JSON representation of dam sire progeny horses resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of dam sire progeny horses resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/progeny-entries/{raceType}':
    get:
      tags:
        - Bloodstock Stallion
      summary: Progeny Entries
      description: Represents Progeny Entries Resource.
      operationId: RPDocumentationHorsesBloodstockStallionProgenyEntries
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **531769'
          type: integer
          required: true
        - name: raceType
          in: path
          description: 'String `code` of the Race Type **Example: **flat'
          type: string
          required: true
          enum:
            - flat
            - jumps
            - big-races
      responses:
        '200':
          description: JSON representation of Progeny Entries Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-progeny-entries-schema-json'
        '400':
          description: JSON representation of Progeny Entries Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Progeny Entries Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/progeny-results/{seasonYearBegin}/{seasonYearEnd}/{countryCode}/{raceType}':
    get:
      tags:
        - Bloodstock Stallion
      summary: Progeny Horses
      description: Represents Progeny Results Resource.
      operationId: RPDocumentationHorsesBloodstockStallProgenyResults
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **303599'
          type: integer
          required: true
        - name: seasonYearBegin
          in: path
          description: 'Starting `year` of the season **Example: **1995'
          type: integer
          required: true
        - name: seasonYearEnd
          in: path
          description: 'Ending `year` of the season **Example: **1995'
          type: integer
          required: true
        - name: countryCode
          in: path
          description: 'String `code` of the Country **Example: **IRE'
          type: string
          required: true
          enum:
            - GB
            - IRE
        - name: raceType
          in: path
          description: 'String `code` of the Race Type **Example: **flat'
          type: string
          required: true
          enum:
            - flat
            - jumps
        - name: surface
          in: query
          description: 'Allowed types of the surfaces **Example: **aw'
          type: string
          required: false
          enum:
            - turf
            - aw
        - name: month
          in: query
          description: 'Month of the season **Example: **1'
          type: string
          required: false
          enum:
            - '1'
            - '2'
            - '3'
            - '4'
            - '5'
            - '6'
            - '7'
            - '8'
            - '9'
            - '10'
            - '11'
            - '12'
        - name: graded
          in: query
          description: 'Binary parameter with default value of ''0''. So that when it is set to ''1'' response will return Group & Graded races **Example: **1'
          type: integer
          required: false
      responses:
        '200':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-progeny-results-schema-json'
        '400':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Progeny Results Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/progeny-statistics':
    get:
      tags:
        - Bloodstock Stallion
      summary: Progeny Statistics
      description: Represents Progeny Statistics Resource.
      operationId: RPDocumentationHorsesBloodstockStallionProgenyStatistics
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **531769'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Progeny Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-progeny-statistics-schema-json'
        '400':
          description: JSON representation of Progeny Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Progeny Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/progeny-statistics/going-form':
    get:
      tags:
        - Bloodstock Stallion
      summary: Progeny Statistics Going Form
      description: Represents Progeny Statistics Going Form Resource.
      operationId: RPDocumentationHorsesBloodstockStallionProgenyStatisticsGoingForm
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **531769'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Progeny Statistics Going Form Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-progeny-statistics-going-form-schema-json'
        '400':
          description: JSON representation of Progeny Statistics Going Form Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Progeny Statistics Going Form Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/progeny-statistics-top/{period}':
    get:
      tags:
        - Bloodstock Stallion
      summary: Stallion Progeny Statistics Top
      description: Represents Stallion Progeny Statistics Top.
      operationId: RPDocumentationHorsesBloodstockStallionProgenyStatisticsTop
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Horse. Has example value. **Example: **585723'
          type: integer
          required: true
        - name: period
          in: path
          description: 'Numeric year. Has example value. **Example: **1988'
          type: integer
          required: true
        - name: category
          in: query
          description: 'String category. Has example value. **Example: **Worldwide G1'
          type: string
          required: true
          enum:
            - Worldwide G1
            - Euro Stakes
            - First Crop
            - All-weather
            - Jumps
            - Chase
            - Hurdles
            - NHF
            - Flat
            - 2yo
            - 5-6f
            - 7-9f
            - 10-11f
            - 12-13f
            - 14f%2B
            - Heavy
            - Soft
            - Gd-sft
            - Good
            - Gd-fm
            - Firm
      responses:
        '200':
          description: JSON representation of Stallion Progeny Statistics Top Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-progeny-statistics-top-schema-json'
        '400':
          description: JSON representation of Stallion Progeny Statistics Top Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Stallion Progeny Statistics Top Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/progeny-broodmare-sires-statistics-top/{period}':
    get:
      tags:
        - Bloodstock Stallion
      summary: Stallion Progeny Broodmare Sires Statistics Top
      description: Represents Stallion Progeny Broodmare Sires Statistics Top.
      operationId: RPDocumentationHorsesBloodstockStallionProgenyBroodmareSiresStatisticsTop
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Horse. Has example value. **Example: **585723'
          type: integer
          required: true
        - name: period
          in: path
          description: 'Numeric year. Has example value. **Example: **1988'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Stallion Progeny Broodmare Sires Statistics Top Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-progeny-broodmare-sires-statistics-top-schema-json'
        '400':
          description: JSON representation of Stallion Progeny Broodmare Sires Statistics Top Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Stallion Progeny Broodmare Sires Statistics Top Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/sale-statistics/{countryFlag}/{age}':
    get:
      tags:
        - Bloodstock Stallion
      summary: Sale Statistics for stallion profile
      description: Represents Sale Statistics Resource.
      operationId: RPDocumentationHorsesBloodstockStallSaleStatiscs
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **531769'
          type: integer
          required: true
        - name: countryFlag
          in: path
          description: 'Allowed types of venue countries, by default is `GB-IRE`. **Example: **USA'
          type: string
          required: true
          enum:
            - GB
            - IRE
            - GB-IRE
            - Europe
            - USA
            - All
        - name: age
          in: path
          description: 'Allowed types of the ages, by default is `yearlings`. **Example: **3yo'
          type: string
          required: true
          enum:
            - foals
            - yearlings
            - 2yo
            - 3yo
            - 4yo
            - older
            - mares
      responses:
        '200':
          description: JSON representation of Sale Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-sale-statistics-schema-json'
        '400':
          description: JSON representation of Sale Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Sale Statistics Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/seasons-available':
    get:
      tags:
        - Bloodstock Stallion
      summary: Seasons avaliable
      description: Represents Seasons avaliable Resource.
      operationId: RPDocumentationHorsesBloodstockStallionSeasonsAvailable
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **531769'
          type: integer
          required: true
        - name: activeSeasons
          in: query
          description: 'Show only active seasons **Example: **1'
          type: boolean
          required: false
      responses:
        '200':
          description: JSON representation of Seasons avaliable Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-seasons-available-schema-json'
        '400':
          description: JSON representation of Seasons avaliable Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Seasons avaliable Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion/{stallionId}/dam-sire-seasons-available':
    get:
      tags:
        - Bloodstock Stallion
      summary: Seasons available
      description: |-
        Represents Seasons available for all progeny of requested stallion who have
                 run in the applicable seasons.
      operationId: RPDocumentationHorsesBloodstockStallionDamSireSeasonsAvailable
      consumes: []
      produces:
        - application/json
      parameters:
        - name: stallionId
          in: path
          description: 'Numeric `id` of the Stallion **Example: **531769'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Seasons avaliable Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-Stallion-seasons-available-schema-json'
        '400':
          description: JSON representation of Seasons avaliable Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Seasons avaliable Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /bloodstock/stallion-book:
    get:
      tags:
        - Bloodstock Stallion Book
      summary: Stallon Book
      description: Represents Stallon Book Search Result Resource.
      operationId: RPDocumentationHorsesBloodstockStallionBookMain
      consumes: []
      produces:
        - application/json
      parameters:
        - name: type
          in: query
          description: 'Allowed types of Stallon Book **Example: **weatherbys'
          type: string
          required: false
          enum:
            - active
            - inactive
            - weatherbys
        - name: stallion
          in: query
          description: 'Stallion name **Example: **Galileo'
          type: string
          required: false
        - name: sire
          in: query
          description: 'Sire name **Example: **Danehill Dancer'
          type: string
          required: false
        - name: sireFlag
          in: query
          description: 'Include or exclude sire name **Example: **exclude'
          type: string
          required: false
          enum:
            - include
            - exclude
        - name: sireLine
          in: query
          description: 'Sire line name (grand sire) **Example: **Northern Dancer'
          type: string
          required: false
        - name: sireLineFlag
          in: query
          description: 'Include or exclude sire line name **Example: **include'
          type: string
          required: false
          enum:
            - include
            - exclude
        - name: sireType
          in: query
          description: 'Sire type **Example: **firstCrop'
          type: string
          required: false
          enum:
            - all
            - firstCrop
            - secondCrop
            - thirdCrop
        - name: studCountryCode
          in: query
          description: 'Stud country code. It''s possible to set it as array like &studCountryCode[]=GB&studCountryCode[]=IRE **Example: **IRE'
          type: string
          required: false
          minLength: 3
        - name: studFarm
          in: query
          description: 'Stud farm name **Example: **Annshoon Stud'
          type: string
          required: false
        - name: yearToStud
          in: query
          description: 'Year to stud **Example: **2016'
          type: integer
          required: false
        - name: minPrice
          in: query
          description: 'Stud fee min price **Example: **1500'
          type: integer
          required: false
        - name: maxPrice
          in: query
          description: 'Stud fee max price **Example: **70000'
          type: integer
          required: false
        - name: distance
          in: query
          description: 'Win distance **Example: **5f'
          type: string
          required: false
          enum:
            - 5f
            - 6f
            - 7f
            - 1m
            - 1m-1m1f
            - 1m2f-1m3f
            - 1m4f-1m5f
            - 1m6f-1m7f
            - 2m-null
        - name: turfWinners
          in: query
          description: 'Progeny winners on turf races **Example: **1'
          type: integer
          required: false
        - name: hurdleWinners
          in: query
          description: 'Progeny winners on hurdle races **Example: **1'
          type: integer
          required: false
        - name: chaseWinners
          in: query
          description: 'Progeny winners on chase races **Example: **1'
          type: integer
          required: false
        - name: allWeatherWinners
          in: query
          description: 'Progeny winners on all-weather races **Example: **1'
          type: integer
          required: false
        - name: g1Winner
          in: query
          description: 'Progeny winners on G1 races **Example: **1'
          type: integer
          required: false
        - name: g2Winner
          in: query
          description: 'Progeny winners on G2 races **Example: **1'
          type: integer
          required: false
        - name: g3Winner
          in: query
          description: 'Progeny winners on G3 races **Example: **1'
          type: integer
          required: false
        - name: gradeWinners
          in: query
          description: 'Progeny winners on grade races **Example: **1'
          type: integer
          required: false
        - name: blackTypeWinners
          in: query
          description: 'Progeny which came 2nd or 3rd on G1,G2, G3 or Listed races **Example: **1'
          type: integer
          required: false
      responses:
        '200':
          description: JSON representation of Stallon Book Search Result Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-StallionBook-search-result-schema-json'
        '400':
          description: JSON representation of Stallon Book Search Result Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Stallon Book Search Result Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /bloodstock/stallion-book/names:
    get:
      tags:
        - Bloodstock Stallion Book
      summary: Stallon Book Names
      description: Represents Stallon Book Names Resource.
      operationId: RPDocumentationHorsesBloodstockStallionBookNames
      consumes: []
      produces:
        - application/json
      parameters:
        - name: type
          in: query
          description: 'Allowed types of Stallon Book **Example: **weatherbys'
          type: string
          required: false
          enum:
            - active
            - inactive
            - weatherbys
      responses:
        '200':
          description: JSON representation of Stallon Book Names Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-StallionBook-names-schema-json'
        '400':
          description: JSON representation of Stallon Book Names Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Stallon Book Names Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /bloodstock/stallion-statistics/rating:
    get:
      tags:
        - Bloodstock Stallion Statistics
      summary: Bloodstock Rating Statistic
      description: Represents Bloodstock Rating Statistic Resource.
      operationId: RPDocumentationHorsesBloodstockStallionStatisticsRating
      consumes: []
      produces:
        - application/json
      parameters:
        - name: countryFlag
          in: query
          description: 'Allowed types of venue countries. **Example: **GB'
          type: string
          required: true
          enum:
            - GB
            - GB-IRE
            - Europe
            - All
        - name: seasonYearBegin
          in: query
          description: 'Numeric representation of a season start year **Example: **2013'
          type: integer
          required: false
        - name: seasonYearEnd
          in: query
          description: 'Numeric representation of a season end year **Example: **2013'
          type: integer
          required: false
        - name: raceType
          in: query
          description: 'String `code` of a race type **Example: **flat'
          type: string
          required: false
          enum:
            - flat
            - jumps
        - name: surface
          in: query
          description: 'Allowed types of a surfaces **Example: **turf'
          type: string
          required: false
          enum:
            - turf
            - aw
        - name: distance
          in: query
          description: 'Range of `distance` **Example: **2200-2420'
          type: string
          required: false
        - name: age
          in: query
          description: 'Horse `age`. Notice "yo" notation is deprecated and will be no longer supported starting from v3. **Example: **3'
          type: string
          required: false
          enum:
            - '2'
            - '3'
            - '4'
            - 4%2B
            - '5'
            - '6'
            - '7'
            - 7%2B
        - name: jumpsCode
          in: query
          description: 'String `jumpsCode` for Jumps. Notice `jumpsCode` available only for `raceType` = jumps **Example: **HURDLE'
          type: string
          required: false
          enum:
            - HURDLE
            - CHASE
            - NHF
      responses:
        '200':
          description: JSON representation of Bloodstock Rating Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-StallionStatistics-rating-statistic-schema-json'
        '400':
          description: JSON representation of Bloodstock Rating Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Bloodstock Rating Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion-statistics/top-sires/{season}/{raceType}':
    get:
      tags:
        - Bloodstock Stallion Statistics
      summary: Represents Top Sires Statistical Resource
      description: Top statistics for stallion's sires with season(year) and order as parameters.
      operationId: RPDocumentationBloodstockStallionStatisticsTopSiresSeason
      consumes: []
      produces:
        - application/json
      parameters:
        - name: season
          in: path
          description: 'An year for calculation Top Sires stats, by default it is current year. **Example: **2016'
          type: integer
          required: true
        - name: raceType
          in: path
          description: 'Season Type for calculation Top Sires stats. Available values flat, jumps, by default is `flat`. **Example: **flat'
          type: string
          required: true
        - name: countryCodes
          in: query
          description: 'Allowed country origin code for stallions. **Example: **countryCodes[]=GB&countryCodes[]=IRE'
          type: string
          required: false
          enum:
            - FR
            - GER
            - ITY
            - GB
            - IRE
            - USA
            - SWE
            - NOR
            - DEN
            - TUR
            - SPA
        - name: jumpsCode
          in: query
          description: 'Allowed Jumps Race Type codes for stallion. **Example: **jumpsCode[]=Hurdle&jumpsCode[]=Chase'
          type: string
          required: false
          enum:
            - hurdle
            - chase
            - nhf
      responses:
        '200':
          description: JSON representation of Bloodstock Top Sires Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-StallionStatistics-top-sires-schema-json'
        '400':
          description: JSON representation of Bloodstock Top Sires Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Bloodstock Top Sires Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion-statistics/top-stallions/{season}':
    get:
      tags:
        - Bloodstock Stallion Statistics
      summary: Represents Top Stallions Statistical Resource
      description: Top statistics for stallions with season (year) and sorting order as parameters.
      operationId: RPDocumentationHorsesBloodstockStallStatisticsTopStallions
      consumes: []
      produces:
        - application/json
      parameters:
        - name: season
          in: path
          description: 'A season year for calculation top stats, by default is a `current year`. **Example: **2016'
          type: string
          required: true
        - name: category
          in: query
          description: 'Allowed types of venue countries. **Example: **Worldwide G1'
          type: string
          required: false
          enum:
            - Worldwide G1
            - Euro Stakes
            - Broodmare sires
            - First Crop
            - All-weather
            - Jumps
            - Flat
            - 2yo
          default: Flat
        - name: countryOrigCodes
          in: query
          description: 'Allowed country origin code for stallions. **Example: **countryOrigCodes[]=GB&countryOrigCodes[]=IRE'
          type: string
          required: true
          enum:
            - FR
            - GER
            - ITY
            - GB
            - IRE
            - USA
            - SWE
            - NOR
            - DEN
            - TUR
            - SPA
        - name: progenyPerformersLimit
          in: query
          description: 'A limit number of progeny performers elements. Default value is 10 **Example: **5'
          type: integer
          required: false
      responses:
        '200':
          description: JSON representation of Bloodstock Top Stallions Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-StallionStatistics-top-stallions-schema-json'
        '400':
          description: JSON representation of Bloodstock Top Stallions Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Bloodstock Top Stallions Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/bloodstock/stallion-statistics/yearlings/{saleYear}':
    get:
      tags:
        - Bloodstock Stallion Statistics
      summary: Represents Yearlings Statistical Resource
      description: Top statistics for yearlings with sale year and sorting order as parameters.
      operationId: RPDocumentationHorsesBloodstockStallStatisticsYearlings
      consumes: []
      produces:
        - application/json
      parameters:
        - name: saleYear
          in: path
          description: 'An year when stallions were sold. **Example: **2016'
          type: string
          required: true
        - name: countryFlag
          in: query
          description: 'Allowed types of venue countries. **Example: **GB-IRE'
          type: string
          required: true
          enum:
            - GB
            - IRE
            - GB-IRE
            - Europe
            - USA
            - All
      responses:
        '200':
          description: JSON representation of Bloodstock Yearlings Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-Bloodstock-StallionStatistics-yearlings-schema-json'
        '400':
          description: JSON representation of Bloodstock Yearlings Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Bloodstock Yearlings Statistic Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/draw-analyser/{raceId}':
    get:
      tags:
        - Draw Analyser
      summary: Draw Analyser
      description: Represents a single Draw Analyser object with all its details.
      operationId: RPDocumentationHorsesDrawAnalyserDrawAnalyser
      consumes: []
      produces:
        - application/json
      parameters:
        - name: raceId
          in: path
          description: 'Numeric `id` of the Race to get Draw Analyser for. Has example value. **Example: **599203'
          type: integer
          required: true
      responses:
        '200':
          description: JSON representation of Draw Analyzer Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-DrawAnalyser-draw-analyser-schema-json'
        '400':
          description: JSON representation of Draw Analyzer Resource.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: JSON representation of Draw Analyzer Resource.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/form/{raceId}':
    get:
      tags:
        - Form
      summary: ''
      description: ''
      operationId: RPDocumentationFormRaceId
      consumes: []
      produces:
        - application/json
      parameters:
        - name: raceId
          in: path
          description: 'Numeric id of the Race Instance **Example: **634543'
          type: integer
          required: true
        - name: numberOfRaces
          in: query
          description: 'Max number of races to display for each horse **Example: **2'
          type: integer
          required: false
      responses:
        '200':
          description: Returns Form data for a given race - supports pre/post race
          schema:
            $ref: '#/definitions/SchemaGet200-Form-form-schema-json'
        '400':
          description: Returns Form data for a given race - supports pre/post race
          schema:
            $ref: '#/definitions/SchemaGet400-Form-form-400-schema-json'
        '404':
          description: Returns Form data for a given race - supports pre/post race
          schema:
            $ref: '#/definitions/SchemaGet404-Form-form-404-schema-json'
  '/going-to-suit/{raceId}':
    get:
      tags:
        - Going to Suit
      summary: Going to Suit
      description: Represents Going to Suit source by Race
      operationId: RPDocumentationHorsesGoingToSuitRaceId
      consumes: []
      produces:
        - application/json
      parameters:
        - name: raceId
          in: path
          description: 'Numeric id of the Race to get info about race and participating Horses **Example: **666102'
          type: integer
          required: true
      responses:
        '200':
          description: Returns Going to Suit info regarding requested Race and participating in this race Horses
          schema:
            $ref: '#/definitions/SchemaGet200-GoingToSuit-going-to-suit-schema-json'
        '400':
          description: Returns Going to Suit info regarding requested Race and participating in this race Horses
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: Returns Going to Suit info regarding requested Race and participating in this race Horses
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /going-to-suit/race-level:
    get:
      tags:
        - Going to Suit
      summary: Race Level Going to Suit
      description: Represents Race Level Going to Suit source by Race Date
      operationId: RPDocumentationGoingToSuitRaceLevel
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Returns Race Level Going to Suit races
          schema:
            $ref: '#/definitions/SchemaGet200-GoingToSuit-race-level-schema-json'
        '400':
          description: Returns Race Level Going to Suit races
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: Returns Race Level Going to Suit races
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/going-to-suit/race-level/{raceDate}':
    get:
      tags:
        - Going to Suit
      summary: Race Level Going to Suit
      description: Represents Race Level Going to Suit source by Race Date
      operationId: RPDocumentationGoingToSuitRaceLevelDate
      consumes: []
      produces:
        - application/json
      parameters:
        - name: raceDate
          in: path
          description: 'String representation for Race Date. Format is yyyy-mm-dd. The default is a current date. **Example: **2017-03-25'
          type: string
          required: true
      responses:
        '200':
          description: Returns Race Level Going to Suit races
          schema:
            $ref: '#/definitions/SchemaGet200-GoingToSuit-race-level-schema-json'
        '400':
          description: Returns Race Level Going to Suit races
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: Returns Race Level Going to Suit races
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/going-to-suit/race-flags/{raceId}':
    get:
      tags:
        - Going to Suit
      summary: Race Flags Going to Suit
      description: Represents Race Flags source by Race
      operationId: RPDocumentationHorsesGoingToSuitRaceFlags
      consumes: []
      produces:
        - application/json
      parameters:
        - name: raceId
          in: path
          description: 'Numeric id of the Race to get info about race and participating Horses **Example: **666102'
          type: integer
          required: true
      responses:
        '200':
          description: Returns Race Flags Going to Suit races
          schema:
            $ref: '#/definitions/SchemaGet200-GoingToSuit-race-flags-schema-json'
        '400':
          description: Returns Race Flags Going to Suit races
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: Returns Race Flags Going to Suit races
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /heartbeat:
    get:
      tags:
        - Heartbeat responses
      summary: ''
      description: ''
      operationId: RPDocumentationHorsesHeartbeatMain
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: 'The state of Sybase replication, Redis storage and completeness of server variables'
          schema:
            $ref: '#/definitions/SchemaGet200-Heartbeat-concise-statuses-schema-json'
        '400':
          description: 'The state of Sybase replication, Redis storage and completeness of server variables'
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: 'The state of Sybase replication, Redis storage and completeness of server variables'
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /heartbeat/light:
    get:
      tags:
        - Heartbeat responses
      summary: ''
      description: ''
      operationId: RPDocumentationHorsesHeartbeatLight
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: 'The state of Sybase connection, Redis storage and completeness of server variables'
          schema:
            $ref: '#/definitions/SchemaGet200-Heartbeat-light-statuses-schema-json'
        '400':
          description: 'The state of Sybase connection, Redis storage and completeness of server variables'
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: 'The state of Sybase connection, Redis storage and completeness of server variables'
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /heartbeat/db-monitor-access:
    get:
      tags:
        - Heartbeat responses
      summary: Heartbeat responses
      description: The state of all services the server of API
      operationId: RPDocumentationHorsesHeartbeatDbMonitorAccess
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: An amount active connection and threshold for connections.
          schema:
            $ref: '#/definitions/SchemaGet200-Heartbeat-db-monitor-access-schema-json'
        '400':
          description: An amount active connection and threshold for connections.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: An amount active connection and threshold for connections.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /heartbeat/full:
    get:
      tags:
        - Heartbeat responses
      summary: Heartbeat responses
      description: The state of all services the server of API
      operationId: RPDocumentationHorsesHeartbeatOverallStatuses
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: The state of all services of the site.
          schema:
            $ref: '#/definitions/SchemaGet200-Heartbeat-overall-statuses-schema-json'
        '400':
          description: The state of all services of the site.
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: The state of all services of the site.
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/horse-tracker/{userId}':
    get:
      tags:
        - Horse Tracker
      summary: Horse Tracker for user
      description: Represent Horse Tracker for User
      operationId: RPDocumentationHorsesHorseTrackerHorseTracker
      consumes: []
      produces:
        - application/json
      parameters:
        - name: userId
          in: path
          description: 'Numeric id of the User to get horses chosen by user **Example: **9999'
          type: integer
          required: true
        - name: raceType
          in: query
          description: 'String `name` of the Race Type. Required if any of parameters was set. **Example: **jumps'
          type: string
          required: false
          enum:
            - flat
            - jumps
        - name: age
          in: query
          description: 'Horse `age`. Notice "yo" notation is deprecated and will be no longer supported starting from v3. **Example: **3'
          type: string
          required: false
          enum:
            - '2'
            - '3'
            - '4'
            - 4%2B
            - '5'
            - '6'
            - '7'
            - 7%2B
        - name: jumpsCode
          in: query
          description: 'String `jumpsCode` for Jumps. Notice `jumpsCode` available only for `raceType` = jumps **Example: **HURDLE'
          type: string
          required: false
          enum:
            - CHASE
            - HURDLE
            - NHF
      responses:
        '200':
          description: Returns Horses Tracker data for a given User
          schema:
            $ref: '#/definitions/SchemaGet200-HorseTracker-horse-tracker-schema-json'
        '400':
          description: Returns Horses Tracker data for a given User
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: Returns Horses Tracker data for a given User
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  '/horse-tracker/{userId}/entries':
    get:
      tags:
        - Horse Tracker
      summary: Horse Tracker for user
      description: Represent Horse Entries with races in which they will participate
      operationId: RPDocumentationHorsesHorseTrackerEntries
      consumes: []
      produces:
        - application/json
      parameters:
        - name: userId
          in: path
          description: 'Numeric id of the User to get entries of horses chosen by user with forthcoming races **Example: **9999'
          type: integer
          required: true
      responses:
        '200':
          description: Returns Horses Entries data for a given User
          schema:
            $ref: '#/definitions/SchemaGet200-HorseTracker-entries-schema-json'
        '400':
          description: Returns Horses Entries data for a given User
          schema:
            $ref: '#/definitions/SchemaGet400-schema400-json'
        '404':
          description: Returns Horses Entries data for a given User
          schema:
            $ref: '#/definitions/SchemaGet404-schema404-json'
  /lookup-table/additional-course-info:
    get:
      tags:
        - Lookup table
      summary: Additional Course Info
      description: Represents Additional Course Info Resource.
      operationId: RPDocumentationLookupTableAdditionalCourseInfo
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: JSON representation of Additional Course Info Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-LookupTable-additional-course-info-schema-json'
  '/lookup-table/additional-course-info/{straightRoundJubileeCode}':
    get:
      tags:
        - Lookup table
      summary: Additional Course Info
      description: Represents Additional Course Info Resource.
      operationId: RPDocumentationLookupTableAdditionalCourseInfoJubilee
      consumes: []
      produces:
        - application/json
      parameters:
        - name: straightRoundJubileeCode
          in: path
          description: 'String representation of a straight round jubilee code **Example: **G'
          type: string
          required: true
      responses:
        '200':
          description: JSON representation of Additional Course Info Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-LookupTable-additional-course-info-schema-json'
  /lookup-table/country:
    get:
      tags:
        - Lookup table
      summary: Country Lookup table
      description: Return Lookup table with all possible country codes and descriptions
      operationId: RPDocumentationHorsesLookupTableCountry
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Return Country Lookup table data
          schema:
            $ref: '#/definitions/SchemaGet200-LookupTable-country-schema-json'
  /lookup-table/course-type:
    get:
      tags:
        - Lookup table
      summary: Sales
      description: Represents Course Type Resource.
      operationId: RPDocumentationHorsesLookupTableCourseType
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: JSON representation of Course Type Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-LookupTable-course-type-schema-json'
  /lookup-table/course-list:
    get:
      tags:
        - Lookup table
      summary: Course List
      description: Represents Course List Resource - A list of all courses and relational data.
      operationId: RPDocumentationHorsesLookupTableCourseList
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: JSON representation of Course List Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-LookupTable-course-list-schema-json'
  /lookup-table/finishing-positions:
    get:
      tags:
        - Lookup table
      summary: Finishing Positions
      description: Represents Finishing Positions Resource.
      operationId: RPDocumentationHorsesLookupTableFinishingPositions
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: JSON representation of Finishing Positions Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-LookupTable-finishing-positions-schema-json'
  /lookup-table/going:
    get:
      tags:
        - Lookup table
      summary: Going
      description: Represents Going Resource.
      operationId: RPDocumentationHorsesLookupTableGoing
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: JSON representation of Going Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-LookupTable-going-schema-json'
  /lookup-table/horse-colour:
    get:
      tags:
        - Lookup table
      summary: Horse Colour
      description: Represents Horse Colour  Resource.
      operationId: RPDocumentationHorsesLookupTableHorseColour
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: JSON representation of Horse Colour  Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-LookupTable-horse-colour-schema-json'
  /lookup-table/horse-head-gear:
    get:
      tags:
        - Lookup table
      summary: Horse Head Gear
      description: Represents Horse Head Gear Resource.
      operationId: RPDocumentationHorsesLookupTableHorseHeadGear
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: JSON representation of Horse Head Gear Resource.
          schema:
            $ref: '#/definitions/SchemaGet200-LookupTable-horse-head-gear-schema-json'
  /lookup-table/horse-sex:
    get:
      tags:
        - Lookup table
      summary: Horse Sex Lookup table
      description: Return Lookup table with all possible horse sexes and descriptions
      operationId: RPDocumentationHorsesLookupTableHorseSex
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Return Horse Sex Lookup table data
          schema:
            $ref: '#/definitions/SchemaGet200-LookupTable-horseSex-schema-json'
  /lookup-table/meeting-colours-lookup:
    get:
      tags:
        - Lookup table
      summary: Meeting Colours Lookup
      description: Represents Meeting Colours Lookup Resource.
      operationId: RPDocumentationHorsesLookupTableMeetingColoursLookup
      consumes: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
[...]
